<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="druid.properties"/>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--二级缓存 针对mapper为单位-->
        <setting name="cacheEnable" value="true"/>
    </settings>
    <!--  定义别名  -->
    <typeAliases>
        <!--    方法1 说明指定的别名    -->
        <!--<typeAlias type="com.tyza66.pojo.Student" alias="stu"/>-->
        <!--    方法2 自动给指定包下面的类都器别名 默认是首字母小写    -->
        <package name="com.sdm.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="mapper/StudentMapper.xml"/>-->
        <!--    使用扫描指定的xml文件 要求dao层接口和xml位于同一个目录并且名字相同    -->
        <package name="com.sdm.mapper"/>
    </mappers>
</configuration>