<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    通过注解配置  配置扫描包
    base-package="com.icss" 扫描根包以及子包
    base-package="com.icss.controller,com.icss.service" 指定多个包 用逗号分隔
    -->
    <context:component-scan base-package="com.icss"></context:component-scan>

</beans>