<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--/login.action LoginController-->
    <!--    <bean  name="/login.action" class="com.icss.test.controller.LoginController" ></bean>-->

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--prefix 前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!--suffix 后缀    -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--扫描包-->
    <context:component-scan base-package="com.icss.test"></context:component-scan>
    <!--开启mvc注解-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--放行html页面-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--放行静态资源-->
    <mvc:resources mapping="/static/**" location="/static/"></mvc:resources>

    <!--配置CommonsMultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="maxUploadSize" value="1024000"></property>
    </bean>

</beans>