<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="accountDao" class="com.sdm.dao.impl.AccountDaoImpl"/>

    <bean id="accountService" class="com.sdm.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"/>
    </bean>

    <bean id="accountController" class="com.sdm.controller.AccountController">
        <property name="accountService" ref="accountService"/>
    </bean>

</beans>