<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="d1" class="com.sdm.pojo.Dog"/>

    <!--创建bean对象的第二种模式 普通工厂模式 将工厂bean交给spring容器-->
    <bean id="cusFactory" class="com.sdm.pojo.CustomerFactory"/>

    <bean id="pro" factory-bean="cusFactory" factory-method="getPro"/>

    <!--创建bean第三种方式 使用静态工厂直接调用工厂方法-->
    <bean id="pro2" class="com.sdm.pojo.StaticFactory" factory-method="getPro"/>


    <!--使用构造方法赋值 value是值ref可以引用其他的bean-->
    <bean id="d2" class="com.sdm.pojo.Dog">
        <constructor-arg index="0" value="旺财"/>
        <constructor-arg index="1" value="2"/>
    </bean>

    <!--使用set方法赋值-->
    <bean id="d3" class="com.sdm.pojo.Dog">
        <property name="dogName" value="giao"/>
        <property name="dogAge" value="3"/>
    </bean>

    <!--学生对象配置 里面有个成员需要指定ref-->
    <bean id="stu" class="com.sdm.pojo.Student">
        <property name="stuName" value="张三"/>
        <property name="score" value="18"/>
        <property name="dog" ref="d2"/>
    </bean>

    <!--学生对象配置 里面有个成员需要指定ref 自动注入 autowire="byName"-->
    <bean id="stu1" class="com.sdm.pojo.Student" >
        <property name="stuName" value="李四"/>
        <property name="score" value="18"/>
    </bean>
</beans>